.service-cards {
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-card {
    height: 100%;
    padding: 2rem;
    box-shadow: 0.33333rem 0 1.33333rem rgba(87,87,87,.1);
    align-items: center;
}

.card.person-card {
    display: block;
    flex-direction: none;
}
.card-container {
    display: inline-flex;
}

.fa-users,
.fa-laptop-code, 
.fa-hands-helping {
    font-size: 3rem !important;
}
.team-cards {
    display: inherit;
}
.team-card-body {
    padding: 1.25rem 0 1.25rem 0;
}
.font-awesome-icon {
    color: #d40d2c;
}