.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    background-color: #F8F9FA;
    padding: 25px 0 25px 0;
}

.footer .col {
    text-align: center;
}