.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa;
    margin-top: auto;
    padding: 3rem;
}
ul {
    list-style-type: none;
    margin: 0 !important;
    padding: 0;
}
.social-icons {
    color: #D40D2C;
    font-size: 3rem;
    padding-right: 15px;
}
.social-media {
    display: flex;
}
.footer-links {
    color: #000000;
    text-decoration: underline;
}
