.hero .row {
    align-items: center;
}
.who-we-are {
    text-align: center;
    background-color: #f8f9fa;
    position: relative;
}

.form-section {
    background-color: #fff;
    position: relative;
    padding: 2.5rem;
}
.form-content{
    text-align: center;
}

.page-heading {
    text-align: center;    
}
.about-grid {
    display:inline-block !important;
}
.hero-heading {
    padding: 1rem;
    text-shadow: 8px 5px 3px rgba(0,0,0,.06);
}