.hero .row {
    align-items: center;
}
.who-we-are {
    text-align: center;
    background-color: #F8F9FA;
    position: relative;
}

.form-section {
    background-color: white;
    position: relative;
    padding: 2.5rem;
}
.form-content{
    text-align: center;
}

.page-heading {
    text-align: center;    
}
.about-grid {
    display:inline-block !important;
}