.membership-section {
    background: #F8F9FA;
    padding: 4rem 0 0 0;
}
.membership-bullet {
    display: flex;
    align-items: center;
    justify-content: center;    
}
.price {
    font-size: 50px;
    color: #fff;
    padding: 0 0 1rem 0;
}
.price--red {
    color:#d40d2c;
}
.card-body {
    text-align: center;
}
.member-heading {
    font-size: 50px;
}
.membership-bullet li {
    font-size: 25px;
}
.membership-bullet h5 {
    font-size: 25px;
}
.PriceTag {
    background-color: #fff;
    border: 2px solid #d40d2c;
    border-radius: 5px;
    color: #d40d2c;
    height: 300px;
    line-height: 0.4;
    margin: 9px auto;
    padding-top: 95px;
    position: relative;
    width: 300px;
}
.PriceTag--red {
    background-color:#d40d2c;
    border: 2px solid #d40d2c;
    color: #fff;
}
.PriceTag-ribbon {
    background-color: #0012A1;
    color: #fff;
    font: 24px Cubano, sans-serif;
    height: 42px;
    padding: 6px 10px 0px 40px;
    position: absolute;
    right: -20px;
    text-align: right;
    top: 32px;
}
.PriceTag-ribbonTriangle {
    border-color: transparent transparent transparent #fff;
    border-style: solid;
    border-width: 22px 0 22px 22px;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
}
.PriceTag-ribbonWrap {
    border-color: transparent transparent transparent #0012A1;
    border-style: solid;
    border-width: 18px 0 0 18px;
    height: 0;
    position: absolute;
    right: 0;
    top: -18px;
    width: 0;
}

.form-flex {
    display: flex;
}