/* .nav-logo {
    display: inline-flex !important;
} */
.header {
    box-shadow: 0.33333rem 0 1.33333rem rgba(87,87,87,.1) !important;
}

.nav-link {
    color: #000000 !important;
}
.nav-link:hover {
    color:#D40D2C !important;
}
.nav-link:active {
    color:#D40D2C !important;
}
.text-logo {
    align-items:center;
    display: flex !important;
}
.hit-text {
    font-size: 1.5rem;
    text-shadow: 2px 5px 3px rgba(0,0,0,.06);
    color: #0012A1;
    font-weight: 600;
    font-family: georgia, serif;
}